body, html {
  padding-top:2.5em;
  margin:0;
  background-color:#fafafa;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  color: black;
  font-size: 13.5px;
  font-weight:normal;
}

.note {
  display:block;
  position: absolute;
  top:10px;
  left:10px;
  font-size: 13.5px;
}

/* Header */

header {
  text-align: right;
}

.header-content {
  display: inline-block;
  padding-right: 10%; 
}

.header-text {
  margin-top:0.5em;
  margin-left:1em;
}

header p {
  font-size:-webkit-xxx-large;
  margin:0;
}

.subtitle {
  font-size:x-large;
  color: dimgray;
  margin-top: 5px;
}

.normal-write {
  font-size:13.5px;
  font-weight:normal;
}

/* Information */

.paper {
  margin: 0 auto;
  margin-bottom:1em;
  width:800px;
  background-color:white;
  
  padding:0.5em 0 0.5em 0;
 
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 3px solid #e0e0e0;
  border-radius:3px;
}

/* Content Part */

.content-wrapper {
  padding-right:10%;
}

.content {
  display:table;
  width:100%;
  
  padding-top:2.0em;
  
  /*border-top: 1px solid #eeeeee;*/
}

.content:last-child {
  margin-bottom: 2em;
}

.row {
    display:table-row;
}
.row  > div {
    display:table-cell;
}

.row  > div > div {
    display:table;
	width: 100%;
}

.row  > div > div > div {
	display:table-row;
}

.row  > div > div > div  > div {
	display:table-cell;
}

.content-cat {
  letter-spacing: 1px;
  
  font-size:medium;
  
  text-align:center;
  vertical-align:top;

  padding-left:6.66%;
  width:30%;
}

.summary p {
  font-size:0.7em;
  
  color: #212121;
  
  margin-left:2em;
  margin-top:0.45em;
  margin-bottom: 0.45em;
}

.work-listing p {  
  margin-top:0.25em;
  margin-bottom: 0.45em;
}

.work-listing > p {  
  font-size: 12px;
}

div.content-text.work-listing.education-listing > p:nth-child(2) {
  margin-top:0.25em;
}

.work-listing .highlight {
  font-size:12px;
  color: #212121;
}

.highlight {
  transition: border .33s ease-in;
}

.profiles-listing ul li, .profiles-listing ul li:first-child {
  width:32%;
  font-weight: normal;
}

.work-content, .education-content {
  padding-top: .75em;
}

section.content.education-content > div > div.content-cat {
  vertical-align: top;
}

div.content-text.skills-listing  p {
  margin-top: 0.25em;
  margin-bottom: 0.45em;
}

.split div p:nth-child(2) {
	font-size:12px;
}

.date p {
	font-size:12px;
	font-style:italic;
	color: dimgray;
	margin-top:0.45em;
	text-align:right;
}

.grey {
  color: dimgray;
}

.split div:nth-child(2) {
	padding-left: 40px;
}
