<!doctype html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>


	<style>
	{{{css}}}
	</style>

	<style media="print">
	{{{print}}}
	</style>
	
</head>
<body>
	
	<span class="note">Check out new print view! (<strong>Press Ctrl + P</strong>)</span>

		<article class="paper">
		
			{{#resume.basics}}
			<header>
				<div class="header-content">
					<div class="header-text">
						<p><strong>
							{{name}}
						</strong></p>
						<p class="subtitle"><strong>{{label}}</strong></p>
						{{#if website}}
							<p class="normal-write">{{website}}</p>
							{{/if}}

							{{#if email}}
							<p class="normal-write">{{email}}
							</p>
							{{/if}}

							{{#if phone}}
							<p class="normal-write grey">{{phone}}
							</p>
							{{/if}}
							
							{{#if address}}
							<p class="normal-write grey">{{address}}
							</p>
							{{/if}}
							
							{{#if city}}
							<p class="normal-write grey">{{city}}
							</p>
							{{/if}}
					</div>
				</div>
			</header>
			{{/resume.basics}}
			
			<div class="content-wrapper">
<!- EDUCATION ->
					{{#if resume.education.length}}
					{{#foreach resume.education}}
					{{#if $first}}
						<section class="content">
					{{else}}
						<section class="content education-content">
					{{/if}}
							<div class="row">
								<div class="content-cat">
									{{#if $first}}
									<strong>Education</strong>
									{{/if}}
								</div>
								<div class="content-text work-listing education-listing">
									{{#if studyType}}
									<div>
									<div>
									<div>
										<p class="heading"><strong>{{studyType}}</strong></p>
									</div>
									<div class="date" >
									{{#if startDate}}
									{{#if endDate}}
									<p>{{startDate}} - {{endDate}}</p>
									{{/if}}
									{{/if}}
									</div>	
									</div>
									</div>
									{{/if}}
										<p class="highlight">
									{{#if institution}}
										<strong>{{institution}}</strong>,
									{{/if}}
									{{#if area}}
									{{#if gpa}}
										<i>{{area}} ({{gpa}})</i>
									{{else}}
										<i>{{area}}</i>
									{{/if}}
									{{/if}}
									</p>
								</div>
															
							</div>
							
						</section>
						{{/foreach}}
						{{/if}}
								
<!- SKILLS ->						
								{{#if resume.skills.length}}
								<section class="content">
									<div class="row">
										<div class="content-cat">
											<strong>Skills</strong>
										</div>
										<div class="content-text skills-listing">
										<div>
											{{#splitByTwo resume.skills}}
											<div>
												<p>
													{{#if name}}
													<strong>
														{{name}}
													</strong>
													{{/if}}
												</p>
												{{#if level}}
												<p>({{level}}):</p>
												{{/if}}

												{{#if keywords.length}}
												<p>{{#commalist keywords}}{{.}}{{/commalist}}</p>
												{{/if}}
											</div>
											{{/splitByTwo}}
										</div>
										</div>
									</div>
								</section>
								{{/if}}

								
<!- EXPERIENCE ->			
				{{#if resume.work.length}}
				{{#foreach resume.work}}
				{{#if $first}}
				<section class="content">
					{{else}}
					<section class="content work-content">
						{{/if}}
						<div class="row">
							<div class="content-cat">
								{{#if $first}}
								<strong>Experience</strong>
								{{/if}}
							</div>
							<div class="content-text work-listing education-listing">
								{{#ifCond company '&&' position}}
								<div>
								<div>
								<div>
									<p><strong>{{position}}</strong></p>
								</div>
								<div class="date">
								{{#if startDate}}
								{{#if endDate}}
									<p>{{startDate}} - {{endDate}}</p>
								{{/if}}
								{{/if}}
								</div>
								</div>
								</div>
								<p><strong>{{company}},</strong> {{area}} - {{skills}}</p>
								{{/ifCond}}

								{{#if summary}}
								<p class="grey">{{summary}}</p>
								{{/if}}

							</div>
							
						</div>
					</section>
					{{/foreach}}
					{{/if}}
					
<!- PROJECT ->
						{{#if resume.projects.length}}
						{{#foreach resume.projects}}
						{{#if $first}}
						<section class="content">
							{{else}}
							<section class="content work-content">
								{{/if}}
								<div class="row">
									<div class="content-cat big-text">
										{{#if $first}}
										<strong>Projects</strong>
										{{/if}}
									</div>
									<div class="content-text work-listing education-listing">
											<p>
												<strong>{{title}}</strong> {{#if status}}<i>({{status}}) </i>{{/if}}<strong>:</strong>
											</p>

											{{#if description}}
											<p>{{description}}</p>
											{{/if}}
									</div>
								</div>
							</section>
								{{/foreach}}
								{{/if}}
							</div>

						</article>


				</body>
				</html>
